* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #000;
  color: #fef4f4;
}

a {
  color: #fef4f4 !important;
}

ul li {
  list-style: none;
  color: #fef4f4;
}

.card-basic ul li {
  padding-left: 3rem;
  padding-bottom: 0.8rem;
}

nav {
  margin: 48px 0;
}

#service,
#preview,
#new-popular,
#package,
#subscribe,
footer {
  padding-top: 11.25rem;
}

.btn-danger {
  font-size: 18px;
  font-weight: 600;
  color: #fef4f4;
  padding: 9px 28px;
  border-radius: 15px;
  background: linear-gradient(96.02deg, #bc0e19 7.77%, #db202c 91.68%);
  box-shadow: 0px 5px 25px 0px #c01e2980;
}

.text-title {
  font-size: 18px;
  font-weight: 500;
}

.text-content {
  font-weight: 400;
  font-size: 1rem;
  color: #e3e1e1;
}

.hero-title {
  font-family: "Volkhov", serif;
  font-size: 3.5rem;
  margin-bottom: 12px;
}

.content-title {
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 72px;
  margin-bottom: 1.5rem;
}

.content-left {
  width: 40%;
  margin-bottom: 2rem;
}

.content-center {
  text-align: center;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.hero-content {
  padding-top: 9.5rem;
}

.card-basic {
  border-radius: 30px;
  background: #1f2127;
  color: #fef4f4;
}

#service .card {
  height: 288px;
}

.card {
  padding: 1.5rem;
}

.card-body {
  padding: 0;
}

.card-title {
  font-size: 18px;
}

.card-body img {
  margin-bottom: 12px;
}

.card-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #e3e0e0;
}

.card-text-small {
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
  color: #e3e0e0;
}

.card-content {
  margin-top: 1rem;
}

.card-package {
  padding-top: 36px;
  padding-bottom: 36px;
}

.title-package {
  font-size: 20px;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 1.5rem;
}

.package-price {
  font-weight: 600;
  font-size: 32px;
  color: #db202c;
  margin-bottom: 0;
}

.package-month {
  font-weight: 400;
  font-size: 16px;
  color: #e3e0e0;
}

.no-active {
  font-weight: 300;
  color: #abacaf;
}

.check-icon {
  background: url("./assets/icons/cheklist.svg") no-repeat left top;
}

.subscribe-content {
  background: #c8cfec;
  padding: 3rem;
  border-radius: 1.875rem;
}

footer {
  padding-bottom: 3rem;
}
